<script>
	$: ({ roomName } = $page.params)

	import { goto } from "$app/navigation"
	import { page } from "$app/stores"
	import RoomForm from "$lib/components/RoomForm.svelte"
	import routes from "$lib/routes"

	function handleRoomChange(event: CustomEvent<string>): void {
		const newRoomName = event.detail
		goto(routes.room(newRoomName))
	}
</script>

<nav>
	<a href={routes.root()}>Test YJS</a>
</nav>

<hr />

<RoomForm {roomName} on:change={handleRoomChange} />

<slot />
