<script>
	import { visitedRoomNames } from "$lib/stores/room"
	import routes from "$lib/routes"
</script>

<h2>Visited rooms</h2>

{#if $visitedRoomNames.size > 0}
	<ul>
		{#each [...$visitedRoomNames].sort() as visitedRoomName}
			<li>
				<a href={routes.room(visitedRoomName)}>{visitedRoomName}</a>
			</li>
		{/each}
	</ul>
{/if}
