<script context="module">
	import type { Load } from "@sveltejs/kit"

	export const load: Load = ({ page }) => {
		const { roomName } = page.params

		if (!isValidRoomName(roomName)) {
			return { error: `Room name "${roomName}" is invalid`, status: 400 }
		}

		const roomNamePrefix = "cbenz-test-yjs"
		const roomNameWithPrefix = `${roomNamePrefix}:${roomName}`

		const ydoc = new Y.Doc()

		const ydocInitialized = useYDoc({ initModel, roomName: roomNameWithPrefix, ydoc })

		const webrtcProvider = new WebrtcProvider(roomNameWithPrefix, ydoc)
		const websocketProvider = new WebsocketProvider("wss://demos.yjs.dev", roomNameWithPrefix, ydoc)

		const { awareness } = websocketProvider
		const {
			setCursorInfo,
			setUserInfo,
			states: awarenessStates,
		} = useAwareness<AwarenessInfo>(awareness)

		return {
			context: { awarenessStates, setCursorInfo, ydocInitialized, ydoc },
			props: { awarenessStates, roomName, setUserInfo, ydoc },
		}
	}
</script>

<script>
	import type { Readable } from "svelte/store"
	import * as Y from "yjs"
	import { WebrtcProvider } from "y-webrtc"
	import { WebsocketProvider } from "y-websocket"
	import AwarenessUserForm from "$lib/components/AwarenessUserForm.svelte"
	import AwarenessUserList from "$lib/components/AwarenessUserList.svelte"
	import { useAwareness } from "$lib/infrastructure/yjs/awareness"
	import type { AwarenessInfo, SetUserInfo } from "$lib/infrastructure/yjs/awareness"
	import { useYDoc } from "$lib/infrastructure/yjs/doc"
	import { initModel } from "$lib/model/meta"
	import type { AwarenessStates } from "$lib/stores/awareness"
	import { userName } from "$lib/stores/user"
	import { visitedRoomNames } from "$lib/stores/room"
	import { onDestroy } from "svelte"
	import { isValidRoomName } from "$lib/model/room"

	export let awarenessStates: Readable<AwarenessStates<AwarenessInfo>>
	export let roomName: string
	export let setUserInfo: SetUserInfo
	export let ydoc: Y.Doc

	$: visitedRoomNames.add(roomName)

	$: setUserInfo({ name: $userName })

	onDestroy(() => {
		ydoc.destroy()
	})
</script>

<div>
	<AwarenessUserForm bind:userName={$userName} />
	<p>Real-time users:</p>
	<AwarenessUserList clientID={ydoc.clientID} states={$awarenessStates} />
</div>

<p>client ID: {ydoc.clientID}</p>

<hr />

<slot />
