<script context="module">
	import type { Load } from "@sveltejs/kit"

	export const load: Load = async ({ context }) => {
		const { awarenessStates, setCursorInfo, ydoc, ydocInitialized } = context
		await ydocInitialized
		const personRepository = YjsRepository.create<Person>("persons", { ydoc })
		const undoManager = new Y.UndoManager([personRepository.getEntityYMap()])
		return {
			props: {
				awarenessStates,
				personRepository,
				setCursorInfo,
				undoManager,
				ydoc,
			},
		}
	}
</script>

<script>
	import { debounce } from "debounce"
	import type { Readable } from "svelte/store"
	import * as Y from "yjs"
	import PersonList from "$lib/components/PersonList.svelte"
	import PersonForm from "$lib/components/PersonForm.svelte"
	import type { AwarenessInfo, SetCursorInfo } from "$lib/infrastructure/yjs/awareness"
	import { YjsRepository } from "$lib/infrastructure/yjs/repository"
	import type { EntityId } from "$lib/model/repository"
	import type { Person, PersonProperties } from "$lib/model/v1"
	import type { AwarenessStates } from "$lib/stores/awareness"
	import UndoRedo from "$lib/components/UndoRedo.svelte"

	export let awarenessStates: Readable<AwarenessStates<AwarenessInfo>>
	export let personRepository: YjsRepository<Person>
	export let setCursorInfo: SetCursorInfo
	export let undoManager: Y.UndoManager
	export let ydoc: Y.Doc

	let awarenessInfoList: AwarenessInfo[]
	$: awarenessInfoList = Array.from($awarenessStates.entries())
		.filter(([clientID, _]) => clientID !== ydoc.clientID)
		.map(([_, state]) => state)

	function handlePersonAdd(event: CustomEvent<PersonProperties>) {
		const personProperties = event.detail
		personRepository.save(personProperties)
	}

	const personChangeDebounceDelay = 200

	function handlePersonChange(event: CustomEvent<[EntityId, PersonProperties]>) {
		const [personId, personProperties] = event.detail
		personRepository.save({ id: personId, ...personProperties })
	}

	function handlePersonDelete(event: CustomEvent<EntityId>) {
		const personId = event.detail
		personRepository.delete(personId)
	}

	function handlePersonFocus(event: CustomEvent<[EntityId, string]>) {
		const [personId, fieldName] = event.detail
		setCursorInfo({ personId, fieldName })
	}
</script>

<h1>Persons</h1>

<UndoRedo {undoManager} />

<PersonList
	{awarenessInfoList}
	{personRepository}
	on:change={debounce(handlePersonChange, personChangeDebounceDelay)}
	on:delete={handlePersonDelete}
	on:focus={handlePersonFocus}
/>

<PersonForm on:add={handlePersonAdd} submitButtonText="add" />
