<script>
	import type { AwarenessInfo } from "$lib/infrastructure/yjs/awareness"
	import type { AwarenessStates } from "$lib/stores/awareness"

	export let clientID: number
	export let states: AwarenessStates<AwarenessInfo>
</script>

<ul>
	{#each Array.from(states.entries()) as [stateClientID, state]}
		<li>
			{state.user.name}
			{#if stateClientID === clientID}(you){/if}
		</li>
	{/each}
</ul>
