<script>
	import { createEventDispatcher } from "svelte"
	import type { Person, PersonProperties } from "$lib/model/v1"
	import type { Entity, EntityId, Repository } from "$lib/model/repository"
	import PersonForm from "./PersonForm.svelte"
	import type { AwarenessInfo } from "$lib/infrastructure/yjs/awareness"
	import PersonHistory from "./PersonHistory.svelte"

	export let awarenessInfoList: AwarenessInfo[] = []
	export let personRepository: Repository<Person>

	$: persons = personRepository.listStore()
	$: personHistory = personRepository.historyStore()
	$: personsWithHistory = $persons.map((person) => {
		const history = $personHistory.get(person.id) ?? []
		return {
			person,
			historyEntries: history,
			createdAt: history[0].updatedAt,
			updatedAt: history[history.length - 1].updatedAt,
		}
	})

	let awarenessInfoListByPersonId: Map<EntityId, AwarenessInfo[]>
	$: awarenessInfoListByPersonId = awarenessInfoList.reduce((previousValue, currentValue) => {
		const personId = currentValue?.cursor?.personId
		if (personId === undefined) {
			return previousValue
		}
		return previousValue.set(personId, [...(previousValue.get(personId) ?? []), currentValue])
	}, new Map())

	const dispatch = createEventDispatcher<{
		change: [EntityId, PersonProperties]
		delete: EntityId
		focus: [EntityId, string]
	}>()

	function handleChange(id: EntityId, event: CustomEvent<PersonProperties>): void {
		dispatch("change", [id, event.detail])
	}

	function handleDelete(personId: EntityId): void {
		dispatch("delete", personId)
	}

	function handleFocus(id: EntityId, event: CustomEvent<string>): void {
		dispatch("focus", [id, event.detail])
	}

	function revert(event: CustomEvent<Person>): void {
		const revertedPerson = event.detail
		// TODO if (! deepEqual(revertedPerson, currentPerson) )
		personRepository.save(revertedPerson)
	}
</script>

<ul>
	{#each personsWithHistory as { person, createdAt, updatedAt, historyEntries } (person.id)}
		<li>
			<PersonForm
				awarenessInfoList={awarenessInfoListByPersonId.get(person.id) ?? []}
				personProperties={person}
				on:change={(event) => handleChange(person.id, event)}
				on:focus={(event) => handleFocus(person.id, event)}
			/>
			<dl>
				<dt>ID</dt>
				<dd>{person.id}</dd>
				<dt>created at</dt>
				<dd>{new Date(createdAt).toLocaleString()}</dd>
				<dt>updated at</dt>
				<dd>{new Date(updatedAt).toLocaleString()}</dd>
			</dl>
			<button
				on:click={() => {
					handleDelete(person.id)
				}}>delete</button
			>
			<details>
				<summary>history (most recent first)</summary>
				<PersonHistory entries={historyEntries} on:revert={revert} />
			</details>
		</li>
	{/each}
</ul>
