<script>
	export let personProperties: PersonProperties

	import type { PersonProperties } from "$lib/model/v1"

	$: ({ name, size, friends } = personProperties)
</script>

<dl>
	<dt>Name</dt>
	<dd>{name}</dd>
	<dt>Size</dt>
	<dd>{size}</dd>
	<dt>Friends</dt>
	<dd>TODO</dd>
</dl>
