<script>
	export let entries: EntityHistoryEntry<Person>[]

	import { diff } from "deep-object-diff"
	import { createEventDispatcher } from "svelte"
	import type { EntityHistoryEntry } from "$lib/model/repository"
	import type { Person } from "$lib/model/v1"
	import PersonListItem from "./PersonListItem.svelte"

	$: displayedEntries = [...entries]
		.map((entry, index) => {
			let result = { entry, diff: null, previousEntity: null }
			const isFirstItem = index === 0
			if (!isFirstItem) {
				const previousEntity = entries[index - 1].entity
				result.diff = diff(previousEntity, entry.entity)
				result.previousEntity = previousEntity
			}
			return result
		})
		.reverse()

	const dispatch = createEventDispatcher<{ revert: Person }>()

	function revert(entity: Person) {
		dispatch("revert", entity)
	}
</script>

<ul>
	{#each displayedEntries as { diff, entry: { entity, updatedAt }, previousEntity }, index}
		<li>
			<PersonListItem personProperties={entity} />
			<dl>
				<dt>updated at</dt>
				<dd>{new Date(updatedAt).toLocaleString()}</dd>
			</dl>
			{#if index === 0}
				(current version)
			{:else}
				<button on:click={() => revert(entity)}>revert</button>
			{/if}
			{#if index !== displayedEntries.length - 1}
				<div>
					diff:
					<ul>
						{#each Object.entries(diff) as [k, v] (k)}
							<li>
								{k}: {previousEntity[k]} => {v}
							</li>
						{/each}
					</ul>
				</div>
			{/if}
		</li>
	{/each}
</ul>
