<script>
	import { createEventDispatcher } from "svelte"
	import { createPersonProperties } from "$lib/model/v1"
	import type { PersonProperties } from "$lib/model/v1"
	import type { AwarenessInfo } from "$lib/infrastructure/yjs/awareness"

	export let awarenessInfoList: AwarenessInfo[] = []
	export let personProperties: PersonProperties = createPersonProperties()
	export let submitButtonText: string | null = null

	let userNamesByFieldName: Map<string, string[]>
	$: userNamesByFieldName = awarenessInfoList.reduce((previousValue, currentValue) => {
		const userName = currentValue.user.name
		const fieldName = currentValue?.cursor?.fieldName
		if (fieldName === undefined) {
			return previousValue
		}
		return previousValue.set(fieldName, [...(previousValue.get(fieldName) ?? []), userName])
	}, new Map())

	const dispatch = createEventDispatcher<{
		add: PersonProperties
		change: PersonProperties
		focus: string
	}>()

	function handleFocus(fieldName: string) {
		dispatch("focus", fieldName)
	}

	function handleInput() {
		dispatch("change", personProperties)
	}

	function handleSubmit() {
		dispatch("add", personProperties)
		personProperties = createPersonProperties()
	}
</script>

<form on:submit|preventDefault={handleSubmit}>
	<div>
		<label>
			name
			<input
				type="text"
				bind:value={personProperties.name}
				on:input={handleInput}
				on:focus={() => handleFocus("name")}
				required
			/>
		</label>
		{#if (userNamesByFieldName.get("name") ?? []).length > 0}
			{(userNamesByFieldName.get("name") ?? []).join(", ")}
		{/if}
	</div>
	<div>
		<label>
			size
			<input
				type="number"
				bind:value={personProperties.size}
				on:input={handleInput}
				on:focus={() => handleFocus("size")}
			/>
		</label>
		{#if (userNamesByFieldName.get("size") ?? []).length > 0}
			{(userNamesByFieldName.get("size") ?? []).join(", ")}
		{/if}
	</div>
	<div>friends: TODO</div>
	{#if submitButtonText}
		<div><button>{submitButtonText}</button></div>
	{/if}
</form>
