<script>
	import { qrcode } from "$lib/actions/qrcode"
	import { generateRoomName, isValidRoomName } from "$lib/model/room"

	export let roomName: string = ""

	import { createEventDispatcher } from "svelte"

	const dispatch = createEventDispatcher<{ change: string }>()

	function handleSubmit() {
		if (!isValidRoomName(roomName)) {
			return
		}
		dispatch("change", roomName)
	}

	function handleGenerate() {
		roomName = generateRoomName()
		dispatch("change", roomName)
	}

	let showQrCode = false
</script>

<form on:submit|preventDefault={handleSubmit}>
	<label>
		room name:
		<input type="text" required bind:value={roomName} />
	</label>
	<button>Go</button>
</form>

<button on:click={handleGenerate}>Generate</button>
<button
	on:click={() => {
		showQrCode = !showQrCode
	}}
>
	{showQrCode ? "Hide" : "Show"} QR code
</button>
<div>
	{#if showQrCode}
		<canvas use:qrcode={{ text: location.href }} />
	{/if}
</div>
