<script>
	import { readableUndo } from "svelt-yjs"
	import type * as Y from "yjs"

	export let undoManager: Y.UndoManager
	$: undoState = readableUndo(undoManager)
</script>

<div>
	<button
		disabled={$undoState.undoSize === 0}
		on:click={() => {
			undoManager.undo()
		}}
	>
		undo
		{#if $undoState.undoSize > 0}
			({$undoState.undoSize})
		{/if}
	</button>
	<button
		disabled={$undoState.redoSize === 0}
		on:click={() => {
			undoManager.redo()
		}}
	>
		redo
		{#if $undoState.redoSize > 0}
			({$undoState.redoSize})
		{/if}
	</button>
</div>
